header {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(206, 194, 194);
    text-shadow: black 2px 2px 2px;
}
a {
    text-decoration: none;
    color: blue;

}

nav {
     border-top: 1px solid brown;
     border-bottom: 1px solid brown;
     padding: 10px 50px;
}

.link {
     display: flex;
     justify-content: space-between;
     color: blue;
}

a.about {
     font-size: 60px;
     font-style: italic;
     color: brown;
}

.left {
     float: left;
     width: 100%;
}
.right {
     float: left;
     width:100%;
}
.left img {
     width: 100%;
}
.right img {
    display: block;
    width: 100%;
}   
.collection {
     width: 100%;
     margin: 0 auto;
}
.clear {
     clear: both;
}
footer {
     text-align: center;
     font-size: 30px;
}